
body {
  margin: 0;
  font-family: "cursive";
  font-size: 12pt;
  text-align: left;
  color: black;
}
section {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

/* unvisited link */
a:link {
  color: Blue;
}
a:visited {
  color: Blue;
}

/* mouse over link */
a:hover {
  color: Blue;
}
/* Create two unequal columns that floats next to each other */
.leftcolumn {   
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 35%;
  text-align : center;
}