div.navbar-collapse ul.navbar-nav li {
  font-family: Gill Sans Extrabold, cursive;;
  font-size: 20px;
}


body {
  margin: 0;
  font-family: Gill Sans Extrabold, cursive;
  font-size: 13pt;
  text-align: left;
  color: black;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: Gill Sans Extrabold, cursive, fangsong;
  font-weight: 900;
  line-height: 1.1;
}
/* unvisited link */
a:link {
  color: Blue;
}
a:visited {
  color: Blue;
}

/* mouse over link */
a:hover {
  color: Blue;
}
/* Create two unequal columns that floats next to each other */
.leftcolumn {   
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 35%;
  text-align : center;
}